a.header-links:link {
    margin:auto;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    color: black;
}
a.header-links:visited {
    margin:auto;
    color: black;
}
a.header-links:hover {
    margin:auto;
    text-decoration: underline;
    color: blue;
}
a.header-links:active {
    margin:auto;
    color: red;
}
a:link {
    text-decoration: none;
    color: black;
}
a:visited {
    margin:auto;
    color: black;
}
a:hover {
    margin:auto;
    text-decoration: underline;
    color: blue;
}
a:active {
    margin:auto;
    color: red;
}
body {
    text-align: center;
    color: #000000;
    background: #ffffff;
}
h1 {
    border-bottom: 2px solid;
    padding: 31px;
    width: 800px;
    margin: auto;
}
h2.about {
    border-bottom: 2px solid;
    margin: auto;
    padding: 10px;
}
.maintext {
    margin: auto;
    color: #000000;
    width: 800px;
    text-align: justify;
    padding: 20px;
}
#aboutimg {
    float: right;
    text-align:right;
    width: 401px;
    padding: 20px;
    padding-top: 0px;
    padding-right: 1px;
}
#hamimg {
    width: 600px;
    padding-bottom: 20px;
}
#mainimg {
    float: left;
    text-align:left;
    width: 401px;
    padding: 20px;
    padding-top: 0px;
    padding-left: 0px;
}
#header-links {
    padding: 10px;
}
#research-interests{
    float: left;
    width: 390px;
    margin: auto;
    text-align: left;
}
#education{
    float: right;
    width: 390px;
    margin: auto;
    text-align: left;
}
#additional-activities{
    width: 800px;
    margin: auto;
    text-align: left;
}
#about-wrapper {
    margin: auto;
    width:800px;
    padding: 50px;
    overflow: auto;
}
.about-padding {
    padding:10px;
}
#contact-info {
    margin: auto;
    width: 800px;
    text-align: left;
    padding: 25px;
}
#contact-pgp-info {
    margin: auto;
    width: 550px;
    text-align: left;
    padding: 25px;
}
#contact-pgp-key {
    margin: auto;
    width: 5500px;
    text-align: left;
    padding-left: 50px;
}
#contact-info-table {
    margin: auto;
    width: 550px;
}
.table-bold {
    width: 120px;
    font-weight: bold;
}
.hobbies-main {
    margin: auto;
    width: 800px;
    text-align: left;
}
.hobbies-text {
    text-align: left;
}
.hobbies-img {
    width: 600px;
    padding: 20px;
}
.hobbies-img-2 {
    width: 400px;
    padding: 20px;
}
.hobbies-links {
}
